<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/index.css">
    <!-- <link rel="shortcut icon" href="{{url_for('static', filename='laugh-2.webp')}}"> -->

</head>
<body>
    <h1>My portfolio</h1><br>

    <h1>What is flask framework in python?</h1>
    <ul>
        <li>
    <h2>Python Flask micro web framework is well-liked and frequently used to create online apps.</h2>
    </li>
        <li>
    <h2>Python Flask is a simple framework building complex web applications.</h2>
        </li>
    </ul>

    <script src="../jquery/jquery.js"></script>
    <script src="../static/index.js"></script>

</body>
</html>